<table class="table">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Название категории</th>
            <th scope="col">Описание</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var cons in Model)
            {
                <tr>
                    <th scope="row">@Html.Raw(i++)</th>
                    <td>@cons.categoryName</td>
                    <td>@cons.descr</td>
                </tr>
            }
        }
    </tbody>
</table>